.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.key {
  background-color: #d0c5bb;
  padding: 24px 58px;
  width: 539px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.spinner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #204963;
}